body{
    background-color: #fff2eb;
}
h1{
    color: #000000;

}
h2{
    color: #000000;
}
h3{
    color: #000000;
}
hr{
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
