body{
    background-color: hsl(313, 100%, 98%);
}
h1{
    color: #7a3391;

}
h2{
    color: #7a3391;
}
h3{
    color: #7a3391;
}
hr{
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: #7a3391;
    border-width: 5px;
    width: 5%;
}
.btn {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 15px;
    background: #000000;
    padding: 7px 25px 7px 25px;
    text-decoration: none;
  }
  
  .btn:hover {
    text-decoration: none;
  }
